
<div class="part">
        <h2>
            My<span>Tasks</span></h2>

<table class="list">
    <thead>
        <tr>
            <th>
                No.
            </th>
            <th>
                
            </th>
             <th style="width: 200px;">
                Project
            </th>
            <th>
                Description
            </th>
            <th style="width: 100px;">
                User
            </th>
            <th style="width: 100px;">
                Due
            </th>
        </tr>
    </thead>
	<tbody>
<% @tasks.each do |task| %>
  <tr>
    <td><%= link_to task.id, edit_task_path(task) %></td>
    <td><div class="box" style="color: #FFFFFF; background-color: #4FA72A;"><%= task.status %></div></td>
    <td><%= task.project.name %></td>
    <td><p title="<%= task.description%>"><%= task.description %></p></td>
    <td><%= task.assignedTo %></td>
    <td><%= task.estimatedCompletionDate %></td>
<!--
    <td><%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %></td>
-->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
