<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Project</th>
    <th>Status</th>
    <th>Category</th>
    <th>Assignedto</th>
    <th>Estimatedduration</th>
    <th>Estimatedcompletiondate</th>
    <th>Tags</th>
    <th>Notes</th>
    <th>Isarchived</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.description %></td>
    <td><%= task.project %></td>
    <td><%= task.status %></td>
    <td><%= task.category %></td>
    <td><%= task.assignedTo %></td>
    <td><%= task.estimatedDuration %></td>
    <td><%= task.estimatedCompletionDate %></td>
    <td><%= task.tags %></td>
    <td><%= task.notes %></td>
    <td><%= task.isArchived %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
