<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Project:</strong>
  <%= @task.project %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Category:</strong>
  <%= @task.category %>
</p>

<p>
  <strong>Assignedto:</strong>
  <%= @task.assignedTo %>
</p>

<p>
  <strong>Estimatedduration:</strong>
  <%= @task.estimatedDuration %>
</p>

<p>
  <strong>Estimatedcompletiondate:</strong>
  <%= @task.estimatedCompletionDate %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @task.tags %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @task.notes %>
</p>

<p>
  <strong>Isarchived:</strong>
  <%= @task.isArchived %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
