<%# if this.Request.IsAuthenticated) %>
<div id="navigation">
    <%= render "shared/find_user" %>
    <ul>
        <li class="selected"><%= link_to "Home", root_path %></li>
        <li><%= link_to "Tasks", tasks_path %></li>
        <li><%= link_to "Projects", projects_path %></li>
        <li><%= link_to "Hours", root_path %></li>
        <li><%= link_to "Users", root_path %></li>
    </ul>
</div>
<%# end %>