<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
    <p class="span3">
        <%= f.label :name %>
		<%= f.text_field :name, :class => "big" %>
        <span class="tip">This is the name of the project, this name must be unique, e.g. PM.</span>
    </p>
    <div class="clear">
    </div>
	<p class="span3">
	        <%= f.label "Enter a description for the project" %>
	        <%= f.text_area :description, :cols=>20, :rows=>2 %>
	    </p>
	    <div class="clear">
	    </div>
	    <p class="span3 checkbox">
			<%= f.check_box :active %>
	        <%= f.label "This project is active" %>
	    </p>
	    <div class="clear">
	    </div>
	    <p class="span3 checkbox">
	        <%= f.check_box :archived %>
	        <%= f.label "This project is archived" %>
	    </p>
	    <div class="clear">
	    </div>
	    <p class="span3">
	        <%= f.label "Enter some notes about the project:" %>
			<%= f.text_area :notes, :cols=>20, :rows=>2 %>
	    </p>
	</fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
