<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @project.active %>
</p>

<p>
  <strong>Archived:</strong>
  <%= @project.archived %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @project.notes %>
</p>

<p>
  <strong>Modified by:</strong>
  <%= @project.modified_by %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @project.created_by %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
